<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        /*style.css*/
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: sans-serif;
            line-height: 1.5;
            min-height: 100vh;
            background: #f3f3f3;
            flex-direction: column;
            margin: 0;
        }

        .main {
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 10px 20px;
            transition: transform 0.2s;
            width: 500px;
            text-align: center;
        }

        h1 {
            color: #4CAF50;
        }

        button {
            padding: 15px;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            border: none;
            color: white;
            cursor: pointer;
            background-color: #4CAF50;
            width: 100px;
            font-size: 16px;
        }

        .wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a {
            color: black;
            font-size: 10px;
            font-weight: bold;
        }

        .bg {
            background: url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54588.jpg?w=740&t=st=1725359255~exp=1725359855~hmac=2b50a38cb9d8488fd44f432bd9bc21f0027e5c255bbd6bc30a5a07f5e33bc8a9);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>
</head>

<body class="bg">
    <div class="main">
        <h1>User Profile</h1>
        <div class="wrap">
            <h2 style="margin-right: 10px; color: rgb(233, 36, 233);">User Name :</h2>
            <h2 style="color: rgb(74, 14, 74);">
                <%= user.fullName %>
            </h2>
        </div>
        <div class="wrap">
            <h2 style="margin-right: 10px; color: rgb(233, 36, 233);">Email :</h2>
            <h2 style="color:  rgb(74, 14, 74);">
                <%= user.email %>
            </h2>
        </div>
        <div style="display: flex; float: right; margin-top: 15px; ">
            <a style="text-decoration: none;padding: 5px; " href="/blog/allblog">Back</a>
        </div>
    </div>
</body>

</html>